header {
    background-color: #476b48;
    color: rgb(255, 255, 255);
    padding: 10px 0;
    text-align: center;
    font-size: 1.1rem;
}

.menu {
    list-style: none;
    gap: 15px;
    padding: 0;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.label-tarefa {
    font-weight: bold;
    margin-right: 10px;
}

a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 4px;
    border: solid 1px #fff;
}

input {
    padding: 8px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

main {
    max-width: 800px;
    margin: 5rem auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section {
    margin: 20px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #ffffff;
}

h2 {
    margin-bottom: 10px;
    color: #333;
}

li {
    padding: 8px;
    font-size: 1rem;
    list-style: none; 
}

button {
    margin-top: 10px;
    padding: 8px 12px;
    background-color: #476b48;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #476b48;
    color: #fff;
    position: fixed;
    width: 100%;
    bottom: 0;
}
